.container{
    width: 80%;
    margin: auto;
}
.heading{
    display: flex;
    font-size: 60px;
    justify-content: center;
}
.sub-heading{
    margin: 20px 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.players {
    display: flex;
}

.icon{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Adjust as needed */
}

.name{
    margin-top: 0px;
}

.player-info {
    margin-left: 10px; /* Adjust as needed */
}


.problem-section{
    margin: auto;
    display: flex;
    flex-direction: column;
    /* width: 80%; */
}

.problem{
    display: flex;
    justify-content: left;
}

.problem-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px 0px;
}

.problem-name{
    font-size: 27px;
    margin-bottom: 7px;
}
.problem-description{
    font-size: 15px;
}

.selected {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff; /* Set background color as needed */
    padding: 10px; /* Add padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    margin-right: 10px;
}

.selected button {
    margin-right: 50px; /* Remove default margin for h3 */
}

.selected-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}