/* CreateChallenge.css */

.create-challenge-container {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.codewars-heading {
    font-size: 36px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    padding: 10px 20px;
    background-color: #f0f0f0;
    /* Light aesthetic color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #d0d0d0;
    /* Slightly darker color on hover */
}